.contact-information {
  font-weight: 700;
  text-transform: uppercase;
}

.contact-information__heading {
  font-size: 30px;
  margin-bottom: 19px;
}

.contact-information__address {
  line-height: 24px;
  margin-bottom: 24px;
}

.contact-information__table {
  margin-bottom: 22px;
}

.contact-information__table-caption {
  text-align: left;
}

.contact-information__buttons-wrapper {
  display: flex;
  gap: 20px;
}
