.custom-checkbox {
  position: relative;
}

.custom-checkbox__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-checkbox__label:hover,
.custom-checkbox__label:active,
.custom-checkbox__input:focus + .custom-checkbox__label {
  color: var(--color-active);
}

.custom-checkbox__label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.custom-checkbox__label::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  width: 12px;
  height: 12px;
  background-image: url("../../svg/cross.svg");
}

.custom-checkbox__input:checked + .custom-checkbox__label::after {
  display: block;
}

.custom-checkbox__input:disabled + .custom-checkbox__label {
  color: var(--color-primary);
  opacity: 0.5;
}

.custom-checkbox__input:focus + .custom-checkbox__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
