.gallery {
  margin-left: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.gallery__heading {
  margin-bottom: 26px;
  font-size: 30px;
}

.gallery__photo {
  margin-bottom: 48px;
  background-color: #333;
}

.news__buttons-wrapper {
  display: flex;
  gap: 20px;
}

.news__button {
  width: 100%;
}

@media (width <= 900px) {
  .gallery {
    margin: 0 auto;
    text-align: center;
  }
}
