.header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.2rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__hamburger {
  display: none;
}

.header__list {
  display: flex;
}

.header nav.header__nav.header__nav--open {
  display: block;
  z-index: 1;
  position: absolute;
  top: 71px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 71px);
  background-color: var(--color-primary);
}

.header__link {
  padding: 26px 20px;
  display: block;
}

.header__link--active {
  box-shadow: 0 -4px 0 0 var(--color-secondary) inset;
}

.header__login-btn {
  background-color: transparent;
  display: flex;
  gap: 0.9rem;
  padding: 26px 20px;
  align-items: center;
}

.header__login-btn:hover,
.header__link:hover {
  background-color: #242424;
}

.header__secondary-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

@media (width <= 650px) {
  .header__hamburger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__list {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}

/* Secondary header with logo */
@media (width <= 810px) {
  .header:has(.header__secondary-logo) .header__hamburger {
    display: block;
  }

  .header:has(.header__secondary-logo) .header__nav {
    display: none;
  }

  .header:has(.header__secondary-logo) .header__list {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}
