.image-carrusel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-carrusel__item {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.image-carrusel__item--active {
  grid-column: 1 / -1;
}

@media (width <= 800px) {
  .image-carrusel {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
  }

  .image-carrusel__item--active {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

@media (width <= 670px) {
  .image-carrusel {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
  }

  .image-carrusel__item--active {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

@media (width <= 500px) {
  .image-carrusel {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .image-carrusel__item:not(.image-carrusel__item--active) {
    display: none;
  }
}
