.news {
  font-weight: 700;
}

.news__heading {
  margin-bottom: 23px;
  font-size: 30px;
  text-transform: uppercase;
}

.news__article {
  margin-bottom: 23px;
}

.news__text {
  line-height: 24px;
  text-transform: uppercase;
}
