.news {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: start;
}

.news__heading {
  margin-bottom: 23px;
  font-size: 30px;
}

.news__article {
  margin-bottom: 23px;
}

.news__text {
  line-height: 24px;
}

.news__time {
  text-transform: capitalize;
}

@media (width <= 900px) {
  .news {
    justify-items: center;
    text-align: center;
  }
}
