.price-list-page__slogan {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.price-list-page__slogan::before {
  content: " ";
  width: 160px;
  height: 2px;
  background-color: var(--color-primary);
}

.price-list-page__slogan::after {
  content: " ";
  width: 160px;
  height: 2px;
  background-color: var(--color-primary);
}
