.prices__heading {
  font-size: 24px;
  margin-bottom: 34px;
}

.prices__table {
  width: 100%;
  border: 1px solid var(--color-primary);
  border-collapse: collapse;
  white-space: nowrap;
}

.prices__title,
.prices__price {
  border: 1px solid var(--color-primary);
  padding: 10px 20px;
  text-align: center;
}

.prices__title {
  text-align: left;
  width: 50%;
}
