.product-card {
  background-color: var(--color-secondary);
  display: grid;
  height: 100%;
  max-width: 220px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.product-card__info-wrapper {
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 14px;
}

.product-card__heading {
  text-transform: capitalize;
}

.product-card__name {
  text-transform: uppercase;
}

.product-card__price-wrapper {
  display: flex;
}

.product-card__price {
  background-color: #e5e5e5;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
