.product-details {
  margin-bottom: 50px;
}

.product-details__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 89px;
}

@media (width <= 800px) {
  .product-details__wrapper {
    grid-template-columns: 1fr;
  }
}
