.section-wrapper {
  background-color: var(--background-color-primary);
  padding: 48px 80px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 40px;
}

.section-wrapper:not(:last-child) {
  margin-bottom: 36px;
}

.section-wrapper__devider {
  width: 2px;
  height: 278px;
  align-self: center;
  background-image: linear-gradient(
    180deg,
    rgb(197 194 192 / 0%) 6.25%,
    #c5c2c0 54.17%,
    rgb(197 194 192 / 0%) 93.75%
  );
}

@media (width <= 900px) {
  .section-wrapper {
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
  }

  .section-wrapper__devider {
    width: 100%;
    max-width: 278px;
    height: 2px;
    background-image: linear-gradient(
      90deg,
      rgb(197 194 192 / 0%) 6.25%,
      #c5c2c0 54.17%,
      rgb(197 194 192 / 0%) 93.75%
    );
    justify-self: center;
  }
}

@media (width <= 500px) {
  .section-wrapper {
    padding: 24px;
  }
}
